* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', sans-serif;
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
  /*font-size: 14px;*/
}

table {
  table-layout: fixed;
  width: 90vw;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  vertical-align: top;
  padding-top: 7px;
}
